 /* responsiveness */
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    
    html, body{
        max-width: 100%;
        overflow-x: hidden;
    }
    /* header  */
    nav {
        display: none;
    }

    /* hero section */
#hero {
    padding: 8vw;
}

.zoom-image {
    display: none;
  }


#hero h1 {
    font-size: 40px;
}

#hero-text h2 {
    display: none;
}

.hero-image {
    position: static;
    width: 200px;
    margin-top: 20px;
  }

  .hero-name {
    position: static;
    margin-top: 20px;
    font-size: 28px;
  }

  .hero-title {
    display: none;
  }

  .hero-main {
    position: static;
  }

  .hero-contact {
    display: none;
  }

  .hero-sub {
    position: static;
    text-align: center;
  }


    /* about-me  */
    .about-me-grid-container {
        grid-template-columns: auto;
      }

      .about-me-container h1 {
        margin-top: 10%;
      }

      .about-me-grid-item img {
        display: none;
      }
    
    /* projects */
    #projects {
        padding-top: 100px;
    }
    
    #section-title {
        margin-left: 0vw;
        font-size: 60px;
        width: 100%;
        padding: 4vw;
    }
    
    #section-sub-title {
        margin-left: 0vw;
        font-size: 30px;
        padding: 4vw;
    }
    
    .grid-container {
        grid-template-columns: auto;
        padding: 4vw;
      }

      /* skills */

  .skills-grid-container {
    grid-template-columns: auto;
    padding: 20px;
  }
  .skills-grid-item {
    padding: 0vw;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease-in-out;
  }


  .chart-container {
    font-size: 10px;
    margin: 0 auto;
    padding-left: 24vw;
    padding-bottom: 15vw;
  }

  .skill-1 {
    width: 190px;
  }

  .skill-2 {
    width: 180px;
  }

  .skill-3 {
    width: 140px;
  }

  .skill-4 {
    width: 168px;
  }

  .skill-5 {
    width: 176px;
  }

  .skill-6 {
    width: 180px;
  }

  .skill-7 {
    width: 160px;
  }

  .skill-8 {
    width: 196px;
  }

  /* testimonials */

  .testimonial {
    padding: 40px 0px;
    margin: 20px 10px;
}

  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1600px) {  
      .hero-sub {
        position: absolute;
        text-align: center;
        padding-left: 10vw;
      }
  }