 /* responsiveness */
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    /* header  */
    header {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 4vw;
        background-color: #fff;
    }
    
    nav {
        display: none;
    
    }
    
    header h2 {
        margin-right: 30px;
        font-family: 'SFPRODISPLAYREGULAR', sans-serif;
        font-size: 20px;
        font-weight: 530;
    }
    
    #contact-me {
        color: #016ddb;
        padding-left: 30px;
        padding-top: 4px;
    }

    /* hero section */
#hero {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.zoom-image {
    width: 100%;
    height: auto;
    position: static;
    overflow: hidden;
    display: none;
  }


#hero h1 {
    font-size: 40px;
    font-family: 'SFPRODISPLAYREGULAR', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hero-text h2 {
    display: none;
}

#hero-btn {
    background-color: #0c7ced;
    color: #fff;
    border: none;
    font-size: 25px;
    border-radius: 40px;
    padding: 16px;
}

#hero-btn a {
    text-decoration: none;
}

#hero-btn a:visited {
    color: #fff;
}

.hero-image {
    position: static;
    width: 200px;
    border-radius: 100%;
    margin-top: 20px;
  }

  .hero-name {
    position: static;
    margin-top: 20px;
    font-size: 28px;
    font-weight: 500;
  }

  .hero-title {
    font-size: 40px;
    font-weight: 600;
    display: none;
  }

  .hero-main {
    position: static;
  }

  .hero-contact {
    color: #016ddb;
    font-size: 30px;
    display: none;
  }

  .hero-sub {
    position: static;
    text-align: center;
  }


    /* about-me  */
    .about-me-grid-container {
        background-color: #ffffff00;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 40px;
      }

      .about-me-container h1 {
        margin-top: 10%;
      }

      .about-me-grid-item img {
        display: none;
      }
    
    /* projects */
    #projects {
        padding-top: 100px;
    }
    
    #section-title {
        margin-left: 0px;
        font-size: 60px;
        width: 100%;
        padding: 10px;
    }
    
    #section-sub-title {
        margin-left: 0px;
        font-size: 30px;
        padding: 10px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 40px;
        padding: 20px;
        row-gap: 40px;
      }

      /* skills */

  .skills-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
    padding: 20px;
    row-gap: 40px;
  }
  .skills-grid-item {
    background-color: #fff;
    border-radius: 40px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease-in-out;
  }

  .skills-grid-img {
    border-radius: 40px;
    width: 100%;
  }

  .chart-container {
    font-size: 10px;
    width: 100%; /* Adjust to your preference */
    margin: 0 auto;
    padding-left: 130px;
    padding-bottom: 40px;
  }
  
  .skill {
    margin: 10px 0;
  }

  .skill-1 {
    width: 190px;
  }

  .skill-2 {
    width: 180px;
  }

  .skill-3 {
    width: 140px;
  }

  .skill-4 {
    width: 168px;
  }

  .skill-5 {
    width: 176px;
  }

  .skill-6 {
    width: 180px;
  }

  .skill-7 {
    width: 160px;
  }

  .skill-8 {
    width: 196px;
  }
  
  .skill-name {
    display: flex;
    font-weight: 600;
  }
  
  .skill-level {
    border-radius: 40px;
    background-color: #3498db;
    color: white;
    padding: 5px;
    text-align: right;
  }

  #skills-image-description {
    font-weight: 600;
    font-size: 35px;
  }

  .skill-title h4 {
    font-size: 16px;
    text-align: center;
    padding-top: 0px;

  }

  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1600px) {
    #hero {
        background-color: #fff;
        text-align: center;
        padding: 3vw;
    }
    
    .zoom-image {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        z-index: 1;
      }
    
    
    #hero h1 {
        font-size: 80px;
        font-family: 'SFPRODISPLAYREGULAR', sans-serif;
        font-weight: 600;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    
    #hero-text h2 {
        display: none;
    }
    
    #hero-btn {
        background-color: #0c7ced;
        color: #fff;
        border: none;
        font-size: 25px;
        border-radius: 40px;
        padding: 16px;
    }
    
    #hero-btn a {
        text-decoration: none;
    }
    
    #hero-btn a:visited {
        color: #fff;
    }
    
    .hero-image {
        position: absolute;
        width: 300px;
        border-radius: 100%;
        top: 0;
        z-index: 3;
      }
    
      .hero-name {
        position: relative;
        z-index: 4;
        margin-top: 24vw;
        font-size: 28px;
        font-weight: 500;
      }
    
      .hero-title {
        font-size: 80px;
        font-weight: 600;
      }
    
      .hero-main {
        position: absolute;
        left: 39%;
        text-align: center;
      }
    
      .hero-contact {
        color: #016ddb;
        font-size: 30px;
      }
    
      .hero-sub {
        position: absolute;
        text-align: center;
        padding-left: 20vw;
      }
  }